# Dependencias
node_modules/

# Variables de entorno
#.env

# Logs
logs/
*.log
npm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de construcción
dist/

#Personal
pasos.txt

#Datos de volumen de docker y jenkins
var
jenkins-data
jenkins_home