.pagina {
  min-height: 100vh;        /* ocupa toda la altura de la pantalla */
  display: flex;            /* activa flexbox */
  align-items: center;      /* centra verticalmente */
  justify-content: center;  /* centra horizontalmente */
  background-color: #fafafa;
}

.tarjeta {
  background: rgb(219, 30, 30);
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 40px 32px;
  width: 100%;
  max-width: 360px;         /* limita el ancho máximo */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
background-color:bisque
}

